body {
    background-color: #43a842;
    font-family: "NeueHansKendrick-Regular",sans-serif;
    margin: 0;
    
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
h1 {
    background-color: #43a842;
    font-family: "NeueHansKendrick-Regular",sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: white;
}

h3 {
    background-color: #43a842;
    font-family: "NeueHansKendrick-Regular",sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: white;
}

p {
  font-family: "NeueHansKendrick-Regular",sans-serif;
  font-size: 20px;
}

#particles-js {
    background: #43a842;
    height: 100vh;
}

.myButton {
	background-color:#7288da;
	border-radius:42px;
	border:1px solid #eeff00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #6e86c4;
}
.myButton:hover {
	background-color:#385a80;
}
.myButton:active {
	position:relative;
	top:1px;
}

.ticker {
    display:inline-block
}
